<mat-tab-group class="bg-light">
  <mat-tab *ngFor="let round of roundMap.keys()" label="Round {{round}}">
    <div class="bg-secondary">
      <div class="card-body">
        <table class="table table-light">
          <thead>
          <tr class="border-right border-bottom">
            <th class="text-center border-right border-bottom" style="max-width: 10px" (click)="refresh()">
              <img src="/assets/svg/refresh.svg" alt="Refresh"/>
            </th>
            <th class="text-center border-right border-bottom"
                *ngFor="let game of roundMap.get(round)">{{game.player.name}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th class="border-right border-bottom">1</th>
            <td class="border-right border-bottom" *ngFor="let game of roundMap.get(round)"
                [className]="setClass(game?.answer1?.correct)">
              <img (click)="bonusPoint(game.answer1)" class="mr-2" [className]="bonusPointClass(game.answer1)" src="/assets/svg/thumbs-up.svg"
                   alt="Bonus Point"/>
              <img (click)="markAnswerAs(game.answer1, true)" class="mr-2" src="/assets/svg/checkmark.svg"
                   alt="Right"/>
              <img (click)="markAnswerAs(game.answer1, false)" src="/assets/svg/crossmark.svg"
                   alt="Wrong"/>
              {{game?.answer1?.answer}}
          </tr>
          <tr>
            <th class="border-right border-bottom">2</th>
            <td class="border-right border-bottom" *ngFor="let game of roundMap.get(round)"
                [className]="setClass(game?.answer2?.correct)">
              <img (click)="bonusPoint(game.answer2)" class="mr-2" [className]="bonusPointClass(game.answer2)" src="/assets/svg/thumbs-up.svg"
                   alt="Bonus Point"/>
              <img (click)="markAnswerAs(game.answer2, true)" class="mr-2" src="/assets/svg/checkmark.svg"
                   alt="Right"/>
              <img (click)="markAnswerAs(game.answer2, false)" src="/assets/svg/crossmark.svg"
                   alt="Wrong"/>
              {{game?.answer2?.answer}}
            </td>
          </tr>
          <tr>
            <th class="border-right border-bottom">3</th>
            <td class="border-right border-bottom" *ngFor="let game of roundMap.get(round)"
                [className]="setClass(game?.answer3?.correct)">
              <img (click)="bonusPoint(game.answer3)" class="mr-2" [className]="bonusPointClass(game.answer3)" src="/assets/svg/thumbs-up.svg"
                   alt="Bonus Point"/>
              <img (click)="markAnswerAs(game.answer3, true)" class="mr-2" src="/assets/svg/checkmark.svg"
                   alt="Right"/>
              <img (click)="markAnswerAs(game.answer3, false)" src="/assets/svg/crossmark.svg"
                   alt="Wrong"/>
              {{game?.answer3?.answer}}
            </td>
          </tr>
          <tr>
            <th class="border-right border-bottom">4</th>
            <td class="border-right border-bottom" *ngFor="let game of roundMap.get(round)"
                [className]="setClass(game?.answer4?.correct)">
              <img (click)="bonusPoint(game.answer4)" class="mr-2" [className]="bonusPointClass(game.answer4)" src="/assets/svg/thumbs-up.svg"
                   alt="Bonus Point"/>
              <img (click)="markAnswerAs(game.answer4, true)" class="mr-2" src="/assets/svg/checkmark.svg"
                   alt="Right"/>
              <img (click)="markAnswerAs(game.answer4, false)" src="/assets/svg/crossmark.svg"
                   alt="Wrong"/>
              {{game?.answer4?.answer}}
            </td>
          </tr>
          <tr>
            <th class="border-right border-bottom">5</th>
            <td class="border-right border-bottom" *ngFor="let game of roundMap.get(round)"
                [className]="setClass(game?.answer5?.correct)">
              <img (click)="bonusPoint(game.answer5)" class="mr-2" [className]="bonusPointClass(game.answer5)" src="/assets/svg/thumbs-up.svg"
                   alt="Bonus Point"/>
              <img (click)="markAnswerAs(game.answer5, true)" class="mr-2" src="/assets/svg/checkmark.svg"
                   alt="Right"/>
              <img (click)="markAnswerAs(game.answer5, false)" src="/assets/svg/crossmark.svg"
                   alt="Wrong"/>
              {{game?.answer5?.answer}}
            </td>
          </tr>
          <tr>
            <th class="border-right border-bottom">6</th>
            <td class="border-right border-bottom" *ngFor="let game of roundMap.get(round)"
                [className]="setClass(game?.answer6?.correct)">
              <img (click)="bonusPoint(game.answer6)" class="mr-2" [className]="bonusPointClass(game.answer6)" src="/assets/svg/thumbs-up.svg"
                   alt="Bonus Point"/>
              <img (click)="markAnswerAs(game.answer6, true)" class="mr-2" src="/assets/svg/checkmark.svg"
                   alt="Right"/>
              <img (click)="markAnswerAs(game.answer6, false)" src="/assets/svg/crossmark.svg"
                   alt="Wrong"/>
              {{game?.answer6?.answer}}
            </td>
          </tr>
          <tr>
            <th class="border-right border-bottom">7</th>
            <td class="border-right border-bottom" *ngFor="let game of roundMap.get(round)"
                [className]="setClass(game?.answer7?.correct)">
              <img (click)="bonusPoint(game.answer7)" class="mr-2" [className]="bonusPointClass(game.answer7)" src="/assets/svg/thumbs-up.svg"
                   alt="Bonus Point"/>
              <img (click)="markAnswerAs(game.answer7, true)" class="mr-2" src="/assets/svg/checkmark.svg"
                   alt="Right"/>
              <img (click)="markAnswerAs(game.answer7, false)" src="/assets/svg/crossmark.svg"
                   alt="Wrong"/>
              {{game?.answer7?.answer}}
            </td>
          </tr>
          <tr>
            <th class="border-right border-bottom">8</th>
            <td class="border-right border-bottom" *ngFor="let game of roundMap.get(round)"
                [className]="setClass(game?.answer8?.correct)">
              <img (click)="bonusPoint(game.answer8)" class="mr-2" [className]="bonusPointClass(game.answer8)" src="/assets/svg/thumbs-up.svg"
                   alt="Bonus Point"/>
              <img (click)="markAnswerAs(game.answer8, true)" class="mr-2" src="/assets/svg/checkmark.svg"
                   alt="Right"/>
              <img (click)="markAnswerAs(game.answer8, false)" src="/assets/svg/crossmark.svg"
                   alt="Wrong"/>
              {{game?.answer8?.answer}}
            </td>
          </tr>
          <tr>
            <th class="border-right border-bottom">9</th>
            <td class="border-right border-bottom" *ngFor="let game of roundMap.get(round)"
                [className]="setClass(game?.answer9?.correct)">
              <img (click)="bonusPoint(game.answer9)" class="mr-2" [className]="bonusPointClass(game.answer9)" src="/assets/svg/thumbs-up.svg"
                   alt="Bonus Point"/>
              <img (click)="markAnswerAs(game.answer9, true)" class="mr-2" src="/assets/svg/checkmark.svg"
                   alt="Right"/>
              <img (click)="markAnswerAs(game.answer9, false)" src="/assets/svg/crossmark.svg"
                   alt="Wrong"/>
              {{game?.answer9?.answer}}
            </td>
          </tr>
          <tr>
            <th class="border-right border-bottom">10</th>
            <td class="border-right border-bottom" *ngFor="let game of roundMap.get(round)"
                [className]="setClass(game?.answer10?.correct)">
              <img (click)="bonusPoint(game.answer10)" class="mr-2" [className]="bonusPointClass(game.answer10)" src="/assets/svg/thumbs-up.svg"
                   alt="Bonus Point"/>
              <img (click)="markAnswerAs(game.answer10, true)" class="mr-2" src="/assets/svg/checkmark.svg"
                   alt="Right"/>
              <img (click)="markAnswerAs(game.answer10, false)" src="/assets/svg/crossmark.svg"
                   alt="Wrong"/>
              {{game?.answer10?.answer}}
            </td>
          </tr>
          <tr>
            <th class="border-right border-bottom">Theme</th>
            <td class="border-right border-bottom" *ngFor="let game of roundMap.get(round)"
                [className]="setClass(game?.answerTheme?.correct)">
              <img (click)="bonusPoint(game.answerTheme)" class="mr-2" [className]="bonusPointClass(game.answerTheme)" src="/assets/svg/thumbs-up.svg"
                   alt="Bonus Point"/>
              <img (click)="markAnswerAs(game.answerTheme, true)" class="mr-2" src="/assets/svg/checkmark.svg"
                   alt="Right"/>
              <img (click)="markAnswerAs(game.answerTheme, false)" src="/assets/svg/crossmark.svg"
                   alt="Wrong"/>
              {{game?.answerTheme?.answer}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </mat-tab>
</mat-tab-group>
