h4 {
  margin-left: 20%;
  margin-right: 20%;
}

table {
  width: 250px;
  margin: auto;
}

.answer1-text {
  /*color: #ffe1e6; // light */
  color: #09BBA0;
}
.answer2-text {
  /*color: #d9ecfb; // light*/
  color: #37F2BA;
}
.answer3-text {
  /*color: #fff5de; // light*/
  color: #16A0CC;
}
.answer4-text {
  /*color: #ddf2f2; // light*/
  color: #1982A1;

}
.answer5-text {
  color: #185F7C;
  /*color: #ebe0ff; // light*/
}
.answer6-text {
  /*color: #ffecdb; // light*/
  color: #73C2FB;
}

.text-correct {
  color: #40C4FF;
}
