h4 {
  margin-left: 20%;
  margin-right: 20%;
}

table {
  width: 250px;
  margin: auto;
}

.answer1-text {
  /*color: #ffe1e6; // light */
  color: #09BBA0;
}
.answer2-text {
  /*color: #d9ecfb; // light*/
  color: #37F2BA;
}
.answer3-text {
  /*color: #fff5de; // light*/
  color: #16A0CC;
}
.answer4-text {
  /*color: #ddf2f2; // light*/
  color: #1982A1;

}
.answer5-text {
  color: #185F7C;
  /*color: #ebe0ff; // light*/
}
.answer6-text {
  /*color: #ffecdb; // light*/
  color: #73C2FB;
}

.text-correct {
  color: #40C4FF;
}

/*@media*/
/*only screen and (max-width: 760px),*/
/*(min-device-width: 768px) and (max-device-width: 1024px)  {*/

/*  !* Force table to not be like tables anymore *!*/
/*  table, thead, tbody, th, td, tr {*/
/*    display: block;*/
/*  }*/

/*  !* Hide table headers (but not display: none;, for accessibility) *!*/
/*  thead tr {*/
/*    position: absolute;*/
/*    top: -9999px;*/
/*    left: -9999px;*/
/*  }*/

/*  tr { border: 1px solid #ccc; }*/

/*  tr:nth-of-type(odd) td {*/
/*    border-bottom: 1px solid #ccc;*/
/*  }*/

/*  td {*/
/*    !* Behave  like a "row" *!*/
/*    border: none;*/
/*    border-bottom: 1px solid #eee;*/
/*    position: relative;*/
/*    padding-left: 50%;*/
/*  }*/

/*  td:before {*/
/*    !* Now like a table header *!*/
/*    position: absolute;*/
/*    !* Top/left values mimic padding *!*/
/*    top: 6px;*/
/*    left: 6px;*/
/*    width: 45%;*/
/*    padding-right: 10px;*/
/*    white-space: nowrap;*/
/*  }*/

/*  td:nth-of-type(1):before {*/
/*    content: "Name";*/
/*    font-weight: bold;*/
/*  }*/
/*  td:nth-of-type(2):before {*/
/*    content: "Response";*/
/*    font-weight: bold;*/
/*  }*/
/*  td:nth-of-type(3):before {*/
/*    content: "Score";*/
/*    font-weight: bold;*/
/*  }*/
/*}*/
/*Optimized for mobile, decided not to use for now */
