<table class="table table-bordered mat-elevation-z3 mt-2">
  <tbody>
  <tr>
    <th>Name</th>
    <th>Response</th>
    <th></th>
  </tr>
  <ng-container *ngFor="let key of getKeys(); let i = index">
    <tr *ngFor="let game of answerCountGameMap.get(key)">
          <th>{{game.player.name}}</th>
      <td [class]="setTextColor(game.answer)">{{getAnswerForQuestion(game.answer, game.question)}}</td>
      <td>{{game.player.score}} <span class="text-success">{{i === 0 ? '(+1)' : ''}}</span></td>
    </tr>
  </ng-container>
</table>

<button mat-raised-button (click)="calculate()">calculate scores</button>
