<div class="main-div">
  <mat-card>
    <mat-card-content>
      <table class="table table-striped">
        <tr>
          <th>
            <button mat-stroked-button (click)="createGame()">Create new Game</button>
          </th>
          <th>Name</th>
          <th>Round</th>
        </tr>
        <tr *ngFor="let room of gameRooms; let i = index">
          <td>{{i+1}}</td>
          <td>{{room.name}}</td>
          <td>
            <img (click)="decrementRound(room)" src="/assets/svg/minus.svg"
                 alt="Minus" class="ml-2"/>
            <label class="mx-2">{{room.round}}</label>
            <img (click)="incrementRound(room)" class="mr-2" src="/assets/svg/add.svg"
                 alt="Plus"/>
          </td>
        </tr>

      </table>
    </mat-card-content>
  </mat-card>
</div>
