.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card {
  width: 400px;
}

.jbg-input {
  padding: 20px 12px;
  background-color: #e0e0e0;
  color: #000;
  border: 0 solid;
  border-radius: 12px;
  box-shadow: none;
  font-size: 18px;
}

label {
  font-size: 17px;
  font-weight: 700;
}
