<div class="scrollmenu">
  <div class="wrapper">
    <div class="player-card">
      <label> {{player.name}}</label>
    </div>
  </div>
  <div class="wrapper">
    <div class="player-card">
      <label> ANDREW</label>
    </div>
  </div>
  <div class="wrapper">
    <div class="player-card">
      <label> TRIVLEAH THE SECOND</label>
    </div>
  </div>
  <div class="wrapper">
    <div class="player-card">
      <label> TESTY Mc Testy Face</label>
    </div>
  </div>
  <div class="wrapper">
    <div class="player-card">
      <p>Room Code</p>
      <label> {{player.gameRoom.code}}</label>
    </div>
  </div>
  <div class="wrapper">
    <div class="player-card">
      <label> BABY LOVER 1214</label>
    </div>
  </div>
  <div class="wrapper">
    <div class="player-card">
      <label> MUM</label>
    </div>
  </div>
  <div class="wrapper">
    <div class="player-card">
      <label> FINAL TEST</label>
    </div>
  </div>
  <div class="wrapper">
    <div class="player-card">
      <label> {{player.name}}</label>
    </div>
  </div>
</div>
