<div class="card-body">
  <table class="table table-bordered table-info">
    <thead>
    <tr>
      <th class="text-center">Question</th>
      <th class="text-center">Answer 1</th>
      <th class="text-center">Answer 2</th>
      <th class="text-center">Answer 3</th>
      <th class="text-center">Answer 4</th>
      <th class="text-center">Answer 5</th>
      <th class="text-center">Answer 6</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let question of questions">
      <td><textarea [(ngModel)]="question.question"></textarea></td>
      <td><textarea [(ngModel)]="question.answer1"></textarea></td>
      <td><textarea [(ngModel)]="question.answer2"></textarea></td>
      <td><textarea [(ngModel)]="question.answer3"></textarea></td>
      <td><textarea [(ngModel)]="question.answer4"></textarea></td>
      <td><textarea [(ngModel)]="question.answer5"></textarea></td>
      <td><textarea [(ngModel)]="question.answer6"></textarea></td>
      <td><button mat-stroked-button color="primary" (click)="update(question)">Update</button></td>
    </tr>
    </tbody>
  </table>
</div>
