<h1 mat-dialog-title>Create game</h1>
<div mat-dialog-content>
  <p>Select a name, game type & code</p>
  <form class="form" [formGroup]="form">
    <label for="name">Game Name</label>
    <input formControlName="name" id="name" class="form-control mb-2">

    <label for="type">Game Type</label>
    <input formControlName="type" id="type" class="form-control mb-2">
    <!--  TODO MULTI-SELECT-->
    <label for="code">Game Code</label>
    <button mat-button (click)="generateCode()" class="ml-2 mb-2"> Random <Code> </Code></button>
    <input formControlName="code" name="code" id="code" class="form-control" type="text"
           tabindex="0" placeholder="ENTER 4-LETTER CODE" style="text-transform:uppercase" maxlength="4"
           autocapitalize="off" autocorrect="off" autocomplete="off">
  </form>

</div>
<div mat-dialog-actions class="mt-3 mb-2">
  <button mat-stroked-button color="primary" class="mr-5" (click)="createGame()">Create</button>
  <button mat-stroked-button [mat-dialog-close]="false">Cancel</button>
</div>
